<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-calendar">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="16" y1="2" x2="16" y2="6"></line>
        <line x1="8" y1="2" x2="8" y2="6"></line>
        <line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      This week
    </button>
  </div>
</div>


<h2>User List</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <th *ngFor="let column of headers">
        {{column}}
      </th>
      <th>Accept</th>
      <th>Reject</th>
    </thead>
    <tbody>
      <tr *ngFor="let row of usersList">
        <td *ngFor="let column of headers">
          {{row[column]}}
        </td>

        <td>
          <div *ngIf="row['userStatus'] == 'Pending'">
            <input id="male" type="radio" [value]="row['id']" name="status" (change)="accept($event)" >
            <label for="male">Accept</label>
          </div>
        </td>
        <td>
          <div *ngIf="row['userStatus'] == 'Pending'">
            <input id="female" type="radio" [value]="row['id']" name="status" (change)="reject($event)">
            <label for="female">Reject</label>
          </div>
        </td>
      </tr>


    </tbody>
  </table>
</div>
<!--[ngStyle]="{'visibility': column === 'id' ? 'hidden' : 'visible'}"-->
